<html xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script-->
    <title>Customize Mapping</title>
    <style>

        .addMapping{

            background-color: aliceblue;
            padding: 2px 16px;
            margin-top: 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 500px;
            height: auto;
            float: left;
        }
        .readMapping{

            background-color: aliceblue;
            padding: 2px 16px;
            margin-top: 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 500px;
            height: auto;
            float: right;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color:darkblue">
        <div class="container-fluid" >
            <a class="navbar-brand" href="#" style="color:white;font-size:1.5rem;font-family:'Source Code Pro';">Customize Mapping</a>
            <a href="index" class="btn btn-secondary my-2 my-sm-0" type="submit" style="float:right" >Get Data</a>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="btn btn-secondary my-2 my-sm-0" type="submit" style="float:right">Logout</a></li>

        </div>
    </nav>
    <div class="container jumbotron ">
        <div class="card-columns d-flex">
            <div class="addMapping">
                <label>ADD / UPDATE MAPPING</label></br>
                </br>

                <textarea name="Text1" id="mapping" cols=40rem rows="15"></textarea><br>
                <label for="addUpdateActions">Choose to add/update:</label>
                <select id="addUpdateActions" name="mapping action">
                    <option value="add">Add</option>
                    <option value="update">Update</option>
                </select>
                <button type="submit" onclick="addUpdateMapping()">ALTER</button>

            </div>
            <div class="readMapping">
                <label class="">DELETE /READ MAPPING</label></br>
                </br>

                <label>User ID: </label>
                <label><input type="text" id="userId"></label></br>
                <label for="deleteReadActions">Choose to delete/read:</label>
                <select id="deleteReadActions" name="mapping action">
                    <option value="read">Read</option>
                    <option value="delete">delete</option>
                </select>
                <button type="submit" onclick="deleteReadMapping()">SUBMIT</button>
                <pre id="viewdata" style="color:green; font-size: 10px; font-weight: bold;">requested DAta</pre>

            </div>
        </div>
    </div>
</body>
<script type="text/javascript">

    function deleteReadMapping(){
        var action=document.getElementById("deleteReadActions").value;
        var user=document.getElementById("userId").value;
        var viewdata = document.getElementById("viewdata");
        console.log(action+" "+user)
        if (action=="read") {
            let xhr = new XMLHttpRequest();
            let url = 'http://localhost:9095/mapping/getmapping/' + user;
            xhr.open("GET", url, false);
            xhr.send(null);
            if (xhr.status === 200) {
                console.log(xhr.responseText);
                alert(xhr.responseText);
                viewdata.innerHTML = JSON.stringify(JSON.parse(xhr.responseText), null, 4);
            }
        }
        else{
            let xhr = new XMLHttpRequest();
            let url = 'http://localhost:9095/mapping/deleteMapping/'+user;
            xhr.open("GET", url, false);
            xhr.send(null);
            if (xhr.status===200){
                console.log(xhr.responseText);
                alert(xhr.responseText);
            }
        }



    }
    function addUpdateMapping(){
        var action=document.getElementById("addUpdateActions").value;
        var Mapping=document.getElementById("mapping").value;
        console.log(Mapping)
        console.log(action)
        let xhr = new XMLHttpRequest();
        if (action=="add") {
            let url = 'http://localhost:9095/mapping/addMapping';
            //let url = 'http://localhost:9090/user/adduser';
            xhr.withCredentials = true;
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-type", "application/json");
            var data = JSON.stringify(Mapping);
            xhr.send(Mapping);
            if (xhr.status===200){
                console.log(xhr.responseText);
                alert(xhr.responseText);

            }
        }
        else if(action=="update"){
            let url = 'http://localhost:9095/mapping/update/';
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-type", "application/json");
            var data = JSON.stringify(Mapping);
            xhr.send(data);
            if (xhr.status===200){
                console.log(xhr.responseText);
                alert(xhr.responseText);
                viewdata.innerHTML =JSON.stringify(JSON.parse(xhr.responseText),null,4);
            }
        }
    }
</script>
</html>
