<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <title>view users</title>
</head>
<body onload="displayRecords()">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">User Records!</a>
  </div>
</nav>
<br><br><br>
	<table class="table table-hover">
  <thead>
    <tr class="table-dark">
      <th scope="col">user ID</th>
      <th scope="col">User Name</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody id="users">
  </tbody>
</table>


<script type="text/javascript">
	function display(my_response)
	{
		const response = JSON.parse(my_response);
		console.log(response);
		var table = document.getElementById("users");
		console.log(response);
		console.log(response.length);
		for(i=0; i<response.length; i++)
		//forEach(({id,firstname,lastname,email})=>this.addRow([id, firstname, lastname, email]));
		{ 
			var row = table.insertRow(i);
			if(i%2==0) {row.className += "table-primary";}	
			else { row.className += "table-secondary";}
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			cell1.innerHTML=response[i]["userId"];
			cell2.innerHTML=response[i]["userName"];
			cell3.innerHTML=response[i]["password"];
		}
	}
	function displayRecords()
	{
		
			let xhr = new XMLHttpRequest();
			let url = "http://localhost:9090/user/allusers/";
			xhr.open("GET", url, true);
			xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
		            console.log(xhr.responseText);
  		            console.log(this.responseText);
                    display(this.responseText);
                }
            };
        	xhr.send(null);
		
	}
</script>


</body>
</html>
